.intent-item {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 30px 20px 20px 10px;
  background-color: $sub-bg-color;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 15px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $brand-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 5px;
    display: block;
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    max-width: 100%;
    min-height: 370px;
    padding: 75px 315px 40px 50px;

    &::before {
      top: 90px;
      right: 65px;
      left: unset;
      width: 200px;
      height: 200px;
    }

    &::after {
      top: 55px;
      right: 30px;
      left: unset;
      width: 270px;
      height: 270px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 75px 60px 50px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 50px 50px;

    &::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }

    &::after {
      top: 27px;
      left: 32px;
      width: 140px;
      height: 140px;
    }
  }
}


.intent-item--slim {
  &::after {
    background-image: url("../../../images/icons/stack.svg#intent_slim");
    background-size: 36px auto;
    background-position: center top -3px;

    @media (min-width: $tablet-width) {
      background-size: 140px auto;
      background-position: center top -14px;
    }

    @media (min-width: $desktop-width) {
      background-size: 70px auto;
      background-position: center top -9px;
    }
  }
}

.intent-item--pro {
  &::after {
    background-image: url("../../../images/icons/stack.svg#intent_pro");
    background-size: 67px auto;

    @media (min-width: $tablet-width) {
      background-size: 268px auto;
    }

    @media (min-width: $desktop-width) {
      background-size: 134px auto;
    }
  }
}

.intent-item__title {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 70px;
  color: $primary-color;
  font-family: $title-font;

  @include font-set(24px, 37px);
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 24px;

    @include font-set(36px, 36px);
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.intent-item__text {
  margin: 0;
  padding-bottom: 23px;

  border-bottom: 1px solid $outline-color-dark;

  @media (min-width: $tablet-width) {
    max-width: 550px;
    padding: 0;
    margin-bottom: auto;
    border: none;
  }
}

.intent-item__link {
  display: block;
  width: fit-content;
  padding: 20px 0 10px;
  color: $primary-color;
  font-family: $title-font;

  @include font-set(16px, 16px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 5px 0;
    margin: 10px 0;

    @include font-set(20px, normal);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
