.intent-item {
  background-color: $sub-bg-color
}

.intent-item__title {
  @include font-set(24px, 37px);
  text-transform: uppercase;
}

// .intent-item__text {}

.intent-item__link {
  @include font-set(16px, 16px);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .intent-item__title {
    @include font-set(36px, 36px);
  }

  .intent-item__link {
    @include font-set(20px, normal);
  }
}
