.js-toggler {
  position: relative;
  padding: 0;
  margin: 0;

  border: none;
  background-color: inherit;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.js-toggler-line {
  position: absolute;
  right: 0;
  display: block;
  width: 24px;
  height: 2px;

  background-color: $primary-color;

  transition: 0.3s ease;

  &:nth-child(1) {
    top: 9px;
  }

  &:nth-child(2) {
    top: 17px;
  }

  &:nth-child(3) {
    top: 25px;
  }
}

.js-toggler--no-js {
  display: none;
}

.js-toggler--is-open {
  .js-toggler-line {
    &:nth-child(1) {
      transform: translate(0, 8px) rotate(47deg);
    }


    &:nth-child(2) {
      display: none;
    }

    &:nth-child(3) {
      transform: translate(0, -8px) rotate(-47deg);
    }
  }
}
