.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;

  min-width: 320px;
  padding: 20px 20px 25px;

  border-bottom: 1px solid $sub-bg-color-dark;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    justify-items: center;
    min-width: 324px;
    padding: 0 35px 40px;

    text-align: center;
    background-color: $sub-bg-color;
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px 40px;
    flex-grow: 0;
    min-width: 245px;
  }
}

.product__pic-link {
  grid-row: span 2;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-height: 205px;
    margin-top: -70px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    min-height: 210px;
    margin-bottom: 10px;
  }
}

.product__title {
  max-width: 90px;
  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: 150px;
  }
}

.product__title-link {
  width: fit-content;
  margin-bottom: 15px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.product__description {
  margin: 0;
  margin-bottom: 20px;

  @include font-set(12px, 16px);

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 27px;

    @include font-set(16px, 20px);
  }
}

.product__description-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid $outline-color-darker;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
    margin-bottom: 6px;
  }
}

.product__description-value {
  margin: 0;
}

.product__link {
  grid-column: 1/-1;
  width: 100%;
}
