$draggler-position: 50%;

.slider {
  position: relative;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__before-pic {
  max-width: 280px;

  @media (min-width: $tablet-width) {
    max-width: 560px;
  }
}

.slider__before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $draggler-position;
  overflow: hidden;

  background-color: $sub-bg-color-light;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient($basic-color 25%, $sub-bg-color-light 25% 100%);
  }
}


.slider__draggler {
  position: absolute;
  top: 50%;
  left: $draggler-position;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  color: $slider-color;

  border-radius: 50%;
  background-color: $basic-color;
  border: 2px solid $slider-color;
  $status: default;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 4px;
    height: 108px;
    border-radius: 4px;
    background-color: $slider-color;

    @media (min-width: $tablet-width) {
      height: 236px;
    }
  }

  &::before {
    bottom: 100%;
  }

  &::after {
    top: 100%;
  }

  &:hover,
  &:focus {
    color: $brand-color;
    border-color: $brand-color;

    &::before,
    &::after {
      background-color: $brand-color;
    }
  }

  &:active {
    color: rgba($brand-color, 0.6);
    border-color: rgba($brand-color, 0.6);

    &::before,
    &::after {
      background-color: rgba($brand-color, 0.6);
    }
  }
}

.slider__arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: inherit;
}
