.socials {
  @include list-default;
}

// .socials__item {}

.socials__link {
  display: block;
  width: 28px;
  height: 22px;

  background-color: $content-color;

  &:hover,
  &:focus {
    background-color: $brand-color;
  }

  &:active {
    background-color: $brand-color;
    opacity: 0.3;
  }
}

.socials__link--vk {
  mask-image: url(../../../images/icons/social_vk.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
}

.socials__link--yt {
  mask-image: url(../../../images/icons/social_youtube.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
}

.socials__link--telegram {
  mask-image: url(../../../images/icons/social_telegram.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
}
