.socials {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.socials__link {
  display: block;
  width: 28px;
  height: 22px;

  color: $slider-color;

  &:hover,
  &:focus {
    color: $brand-color;
  }

  &:active {
    fill: $brand-color;
    opacity: 0.3;
  }
}
