.socials {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.socials__link {
  display: block;
  width: 28px;
  height: 22px;

  // &:hover+.socials__icon,
  // &:focus+.socials__icon {
  //   color: $brand-color;
  // }

  // &:active+.socials__icon {
  //   fill: $brand-color;
  //   opacity: 0.3;
  // }
}
