.program-form__wrapper {
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 80px;
  }
}

.program-form__title {
  margin: 0;
  padding: 27px 0 37px;

  @media (min-width: $tablet-width) {
    padding: 65px 40px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 0 55px;
  }
}

.program-form__intro {
  margin: 0;
  padding-bottom: 40px;
  color: $primary-color;
  font-family: $title-font;

  @include font-set(14px, 18px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-bottom: 65px;
    max-width: 390px;

    @include font-set(20px, 30px);
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-bottom: 65px;
  }
}

.program-form__set {
  margin-left: -20px;
  margin-right: -20px;

  font-family: $title-font;
  text-transform: uppercase;

  @include font-set(16px, 18px);

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    align-items: center;
    margin: 0 40px;

    @include font-set(20px, 30px);
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
    margin: 0;
  }
}

// .program-form__group {}

.program-form__button {
  @include button-default;
  width: calc(100% - 40px);
  margin: 15px 20px 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
  }
}

.program-form__notice {
  display: block;
  margin: 0 auto;
  color: $primary-color;
  text-align: center;

  @include font-set(14px, 16px);

  @media (min-width: $tablet-width) {
    @include font-set(16px, 16px);
  }
}
