.program-form {
  margin-top: 25px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 77px;
    margin-bottom: 80px;
  }
}

.program-form__title {
  margin: 0 0 35px;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 55px;
  }
}

.program-form__intro {
  max-width: 250px;
  margin: 0 0 40px;
  color: $primary-color;
  font-family: $title-font;

  @include font-set(14px, 18px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    margin-bottom: 65px;
    max-width: 430px;

    @include font-set(20px, 30px);
  }

  @media (min-width: $desktop-width) {
    max-width: 390px;
    padding-left: 0;
    margin-bottom: 60px;
  }
}

.program-form__set {
  margin-left: -20px;
  margin-right: -20px;

  font-family: $title-font;
  text-transform: uppercase;

  @include font-set(16px, 18px);

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    align-items: center;
    margin: 0 40px;

    @include font-set(20px, 30px);
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
    margin: 0;
  }
}

.program-form__button {
  width: calc(100% - 40px);
  margin: 0 20px 15px;

  border: none;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
  }
}

.program-form__notice {
  display: block;
  padding: 0 20px;
  margin: 0 auto;
  color: $primary-color;
  font-family: $content-font;
  text-align: center;
  text-transform: none;

  @include font-set(14px, 16px);

  @media (min-width: $tablet-width) {
    justify-self: start;
    width: 100%;
    padding: 0;

    @include font-set(16px, 16px);
    text-align: start;
  }
}
