// .program-form {}

// .program-form__title {}

.program-form__intro {
  color: $primary-color;
  font-family: $title-font;

  @include font-set(14px, 18px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-set(20px, 30px);
  }
}

.program-form__set {
  font-family: $title-font;
  text-transform: uppercase;

  @include font-set(16px, 18px);

  @media (min-width: $tablet-width) {
    @include font-set(20px, 30px);
  }
}

// .program-form__group {}

.program-form__button {
  @include button-default;
}

.program-form__notice {
  color: $primary-color;

  @include font-set(14px, 16px);

  @media (min-width: $tablet-width) {
    @include font-set(16px, 16px);
  }
}
