*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  grid-template-rows: auto 1fr auto;

  color: $content-color;
  font-family: $content-font;
  font-size: 14px;
  line-height: 18px;

  background-color: $basic-color;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
}
