// VIEWPORT
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;

// FONTS
$content-font: "Lato", "Arial", sans-serif;
$title-font: "Oswald", "Arial", sans-serif;

//  TEXT
$primary-color: #000000;
$content-color: #444444;
$contacts-title-color: #111111;
$catalog-title-color: #222222;
$highlight-color: #ffffff;

// BACKGROUND
$basic-color: #ffffff;
$brand-color: #68b738;
$sub-bg-color: #f2f2f2;
