// VIEWPORT
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;

// FONTS
$content-font: "Lato", "Arial", sans-serif;
$title-font: "Oswald", "Arial", sans-serif;

//  TEXT
$primary-color: #000000;
$content-color: #444444;
$contacts-title-color: #111111;
$catalog-title-color: #222222;
$highlight-color: #ffffff;

// BACKGROUND
$brand-color: #68b738;
$brand-color-dark: #5eaa2f;
$error-status: #ff8282;
$basic-color: #ffffff;
$sub-bg-color: #f2f2f2;
$sub-bg-color-light: #eaeaea;
$sub-bg-color-dark: #ebebeb;
$sub-bg-color-darker: #d3d3d3;
$outline-color: #e6e6e6;
$outline-color-form: #e7e7e7;
$outline-color-dark: #d9d9d9;
$outline-color-darker: #cdcdcd;
$slider-color: #666666;
