$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;

$primary-font: Oswald, sans-serif;
$content-font: Lato, sans-serif;

$primary-color:#000000;
$content-color:#444444;
$highlight-color: #ffffff;
$brand-color:#68b738;
$sub-bg-color: #f2f2f2;
