// .additional {}

.additional__wrapper {
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.additional__title {
  @media (min-width: $tablet-width) {
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.additional__list {
  @include list-default;
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
  }
}

// .additional__item {}
