.additional {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 87px;
  }
}

.additional__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 20%;
    column-gap: 80px;
    max-width: 1380px;
    padding: 0 80px;
    margin: 0 auto 85px;
  }
}

.additional__title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    grid-column: span 2;
    margin-left: 0;
  }
}

.additional__list {
  @include list-default;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
