.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts--dark {
  background-color: $sub-bg-color;

  @media (min-width: $desktop-width) {
    background-color: inherit;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    gap: 300px;
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    gap: 90px;
    padding: 60px 80px;
    max-width: 565px;
    background-color: $basic-color;
  }
}

.contacts__title {
  margin: 0;
  color: $contacts-title-color;
  font-family: $title-font;

  @include font-set(16px, 20px);
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-set(20px, 26px);
  }
}

.contacts__address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include font-set(14px, 20px);
  font-style: normal;

  @media (min-width: $tablet-width) {
    @include font-set(16px, 20px);
    text-align: end;
  }
}

.contacts__map-wrapper {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__map {
  width: 100%;
  height: 100%;
  border: none;
}
