// .contacts {}

.contacts--dark-bg {
  @media (max-width: $desktop-width) {
    background-color: $sub-bg-color;
  }
}

// .contacts__wrapper {}

.contacts__title {
  color: $contacts-title-color;
  font-family: $title-font;

  @include font-set(16px, 20px);
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-set(20px, 26px);
  }
}

.contacts__address {
  @include font-set(14px, 20px);
  font-style: normal;

  @media (min-width: $tablet-width) {
    @include font-set(16px, 20px);
  }
}

// .contacts__map {}
