.hero {
  background-image:
    linear-gradient(rgba($brand-color, 0.85) 0% 100%),
    image-set(url("../../../images/index-background_s@1x.jpg") type("image/jpg") 1x, url("../../../images/index-background_s@2x.jpg") type("image/jpg") 2x),
    linear-gradient(to right, #504f54 50%, #3f3e43 50% 100%);
  background-size: 100% 320px, 320px 320px, 100% 320px;
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: $tablet-width) {
    background-color: inherit;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    min-height: 694px;
    margin-top: -120px;

    background-image:
      linear-gradient(to right, $basic-color 50%, rgba($brand-color, 0.85) 50% 100%),
      image-set(url("../../../images/index-background_l@1x.jpg") type("image/jpg") 1x, url("../../../images/index-background_l@2x.jpg") type("image/jpg") 2x),
      linear-gradient(to right, #504f54 50%, #504f54 50% 100%);
    background-size: cover, contain, cover;
    background-repeat: no-repeat;
    background-position: top, right bottom;
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    padding-top: 65px;
    padding-left: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 230px;
  }
}

.hero__title {
  margin: 0 auto 25px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
    margin-right: 200px;
    margin-bottom: 40px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    max-width: 420px;
    margin: 0 0 40px;
  }
}

.hero__slogan {
  margin: 0 auto 29px;

  color: $highlight-color;
  font-family: $title-font;

  @include font-set(14px, 14px);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 500px;
    margin: 0;
    margin-left: 90px;
    margin-bottom: 21px;
    color: $primary-color;
    text-align: start;

    @include font-set(20px, 20px);
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px;
  }
}

.hero__form-button {
  order: 1;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 526px;
    left: 90px;
    min-width: 244px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.hero__pic {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 150px;
    right: 221px;
  }
}
