// .intent {}

.intent__wrapper {
  margin: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px 45px;
  }
}

.intent__list {
  @include list-default;

  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }
}
