.intent {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.intent__list {
  @include list-default;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
