.products {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.products__wrapper {
  @media (max-width: $mobile-only-width) {
    padding: 0;
  }
}

.products__list {
  @include list-default;

  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $mobile-plus-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $tablet-width) {
    gap: 140px 60px;
    margin: 0;
    margin-top: 80px;
  }

  @media (min-width: $tablet-plus-width) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 145px 80px;
  }
}
