.container {
  min-width: 280px;
  max-width: 1380px;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 80px;
    margin: 0 auto;
  }
}
