.main-nav {
  color: $primary-color;
  font-family: $title-font;

  @include font-set(20px, 20px);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font-set(18px, 24px);
  }

  @media (min-width: $desktop-width) {
    max-width: 50%;

    @include font-set(20px, 30px);
    color: $highlight-color;
  }
}

.main-nav__list {
  @include list-default;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 33px;
    max-width: 450px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.main-nav__item {
  display: flex;

  border-top: 1px solid $outline-color;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__link {
  flex-grow: 1;
  padding-top: 22px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding: 14px 0 12px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link--current {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 6px;

    @media (min-width: $tablet-width) {
      background-color: $brand-color;
    }

    @media (min-width: $desktop-width) {
      background-color: $basic-color;
    }
  }
}
