.main-nav {
  color: $primary-color;
  font-family: $title-font;

  @include font-set(20px, 20px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-set(18px, 24px);
  }

  @media (min-width: $desktop-width) {
    @include font-set(20px, 30px);
    color: $highlight-color;


    background-color: $brand-color;
  }
}

.main-nav__list {
  @include list-default;
}

// .main-nav__item {}

// .main-nav__item--current {}

// .main-nav__link {}
