.page-footer {
  color: $content-color;
  font-family: $content-font;
  @include font-set(16px, 20px);

  background-color: $sub-bg-color;
}

.page-footer__logo-link {}

.page-footer__socials {}

.page-footer__developer {}

.page-footer__developer-link {}

.page-footer__developer-icon {}
