.page-header {
  @include font-set(20px, 20px);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-header {
    @include font-set(18px, 24px);
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    @include font-set(20px, normal);
    color: $highlight-color;

    background-color: $brand-color;
    // background-image: linear-gradient(to right, #ffffff 50%, $brand-color 50% 100%);
  }
}



.page-header__wrapper {}

.page-header__row {}

.page-header__logo-wrapper {}

.page-header__logo-icon {}

.page-header__logo-type {}

.page-header__nav-toggler {}

.page-header__nav-toggler-line {}

.page-header__nav {}
