.page-header {
  background-color: #663399;
  color: #ffffff;
  padding: 10px 15px;
}

.page-header__wrapper {}

.page-header__row {}

.page-header__logo-wrapper {}

.page-header__logo-icon {}

.page-header__logo-type {}

.page-header__nav-toggler {}

.page-header__nav-toggler-line {}

.page-header__nav {}
