.link-btn-prime {
  color: $highlight-color;
  @include font-set(16px, 20px);
  text-transform: uppercase;

  background-color: $brand-color;
}

.link-btn-prime--special {
  color: $content-color;

  background-color: $sub-bg-color;
}

@media (min-width: $tablet-width) {
  .link-btn-prime {
    @include font-set(20px, 26px);
  }
}
