.title-prime {
  color: $primary-color;
  font-family: $title-font;

  @include font-set(36px, 40px);
  font-weight: 400;

  @media (min-width: $tablet-width) {
    @include font-set(60px, 60px);
  }
}


.title-prime--highlight {
  color: $highlight-color;

  @media (min-width: $tablet-width) {
    color: $primary-color;
  }
}
